---
import Page from "@/layouts/Page.astro";
---

<Page title="Contact">
	<p>I read, learn, practice, and sometimes teach:</p>
	<ul>
		<li>Lean</li>
		<li>Psychology</li>
		<li>Mindfulness</li>
		<li>Software Craftsmanship</li>
		<li>Leadership</li>
	</ul>
	<p>I currently work at <a href="https://rootglobal.io">Root Global</a></p>
</Page>
