---
import Page from "@/layouts/Page.astro";
---

<Page title="Contact">
	<h1>Contact me</h1>
	<p>You can reach me via</p>
	<ul>
		<li><a href="mailto:me@thisdomain">E-mail</a></li>
		<li><a href="https://linkedin.com/in/cankinay">LinkedIn</a></li>
		<li><a href="https://x.com/cakuki">ğ• @cakuki</a></li>
	</ul>
</Page>
