---
import Page from "@/layouts/Page.astro";
---

<Page title="Home">
	<h1>Hello!</h1>
	<p>I am a human from Planet Earth.</p>
	<p>My name is Can Kutlu Kınay.</p>
	<p>
		I am searching for emotionally and intellectually intelligent life-forms in
		my life.
	</p>
	<p>I do software engineering and engineering management for earning money.</p>
	<p>I read, learn, practice, and sometimes teach:</p>
	<ul>
		<li>Philosophy</li>
		<li>Psychology</li>
		<li>Mindfulness</li>
		<li>Yoga</li>
		<li>Tennis</li>
		<li>Entrepreneurship</li>
		<li>Software Craftsmanship</li>
		<li>Engineering Management</li>
		<li>Agile</li>
		<li>Lean</li>
		<li>DevOps</li>
	</ul>
</Page>
