---
import Page from "@/layouts/Page.astro";
---

<Page title="Home">
	<h1>Hello!</h1>
	<p>I am a human from Planet Earth.</p>
	<p>My name is Can Kutlu Kınay.</p>
	<p>
		I am searching for emotionally and intellectually intelligent life-forms in
		my life.
	</p>
	<p>I do software engineering and engineering management.</p>
	<p>You can read more <a href="/about">about me here</a>.</p>
</Page>
