---
const { url, frontmatter } = Astro.props;
---

<a href={url}>{frontmatter.title}</a> -{" "}
{
	new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
		year: "numeric",
		month: "long",
		day: "numeric",
	})
}
