---
import "@/styles/global.css";
import NavBar from "@/components/navbar/NavBar.astro";
import Posthog from "@/components/Posthog.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>CKK - {title}</title>
	</head>
	<body>
		<NavBar />
		<main>
			<slot />
		</main>
		<Posthog />
	</body>
</html>
